@charset "UTF-8";

/* Fonts */
:root {
  --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway",  sans-serif;
  --nav-font: "Poppins",  sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root { 
  --background-color: #1f1e1e; /* Background color for the entire website, including individual sections */
  --default-color: #fdfdfd; /* Default color used for the majority of the text content across the entire website */
  --heading-color: #ffffff; /* Color for headings, subheadings and title throughout the website */
  --accent-color: #B8860B; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #4c4c4c; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
  --border-color: #7b7676; /*border color*/
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
  --nav-color: #ffffff;  /* The default color of the main navmenu links */
  --nav-hover-color: #B8860B; /* Applied to main navmenu links when they are hovered over or active */
  --nav-mobile-background-color: #ffffff; /* Used as the background color for mobile navigation menu */
  --nav-dropdown-background-color: #ffffff; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
  --nav-dropdown-color: #292726; /* Used for navigation links of the dropdown items in the navigation menu. */
  --nav-dropdown-hover-color: #B8860B; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

/* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */

.light-background {
  --background-color: #faf9f6;
  --surface-color: #302d2d;
}

.dark-background {
  --background-color: #031013;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #2f2d2d;
  --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

/* ------------------------------------------------------------------
* Header section style
---------------------------------------------------------------------*/
.header-section{
  position: relative;
}

.header-section .container{
    text-align: center;
    position: relative;
    z-index: 0;
    padding-top: 30px;
}

.header-section .container h2{
    font-size: 1.5rem;
    color: var(--default-color);
}

.header-section #img_background{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: -1; */
    opacity: 0.3;
}

.data-section .container .destination-card{
    padding: 10px;
    background-color: var(--surface-color);
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.data-section .container .destination-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}

.data-section .container .destination-card .image-wrapper img{
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
}

.data-section .container .destination-card .image-wrapper{
    position: relative;
}

.data-section .container .destination-card .image-wrapper .overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--accent-color);
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 5px;
}



/*-------------------------------------------------------------
Customer Register
--------------------------------------------------------------*/
.form-wrapper{
  position: relative;
  overflow: hidden;
  min-height: 600px;
  width: 80%;
  margin-left: 10%;
}

.form-step{
  position: absolute;
  top: 0;
  width: 100%;
  left: 100%;
  transition: all 0.4s ease;
  background-color: #3b3a3a;
  padding: 10px;
  border-radius: 10px;
}

.active{
  left: 0;
}

.left-side{
  left: -100%;
}

.right-side{
  left: 100%;
}

.form-step input{
  background-color: var(--surface-color);
  color: var(--default-color);
  border-color: var(--border-color);
}

.form-step .form-select{
  background-color: var(--surface-color);
  border-color: var(--border-color);
  color: var(--default-color);
}

.form-step .form-select option{
  background-color: var(--surface-color);
  color: var(--default-color);
}

.form-step .btn-submit{
  background-color: var(--accent-color);
}
.form-step .btn_arrow{
  background-color: inherit;
  color: var(--default-color);
  border: none;
  font-size: 30px;
}

.form-step img{
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
  height: 100%;
}

/*-------------------------------------------------------
request proegress
--------------------------------------------------------*/
#div_navigator{
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#div_navigator .ball{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(220, 210, 210);
  margin-left: 5px;
  margin-right: 5px;
  transition: all 0.5s;
}

#div_navigator .bar{
  width: 60px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(32, 132, 32);
  box-shadow: 0px 5px 10px 4px rgba(16, 212, 19, 0.1);
  margin-left: 5px;
  margin-right: 5px;
  transition: all 0.3s;
}